<!-- <div class="menu_space">
    <div>
        <div class="specified_menu menu_div">All Day</div>
        <div class="specified_menu menu_div">Brunch Menu</div>
        <div class="specified_menu menu_div">Bread Menu</div>
        <div class="specified_menu menu_div">Pastry&Dessert</div>
    </div>
</div>> -->


<div class="wrapper">
    <div class="one">
        <a class="without_underline" [routerLink]="['/menus', menus.id]">ALL DAY MENU</a>
    </div>
    <div class="two">
        <a class="without_underline" [routerLink]="['/menus', menus.id]">BRUNCH MENU</a>
    </div>
    <div class="three">
        <a class="without_underline" [routerLink]="['/menus', menus.id]">BREAD MENU</a>
    </div>
    <div class="four">
        <a class="without_underline" [routerLink]="['/menus', menus.id]">PASTRY&DESSERT<br/> MENU</a>
    </div>
    <div class="five">
        <a class="without_underline" [routerLink]="['/menus', menus.id]">GLUTEN MENU</a>
    </div>
    <!-- <div class="six">Six</div> -->
    <div class="seven">
        <a class="without_underline" [routerLink]="['/menus', menus.id]">PASSOVER MENU</a>
    </div>
    <div class="eight">
        <a class="without_underline" [routerLink]="['/menus', menus.id]">EASTER MENU</a>
    </div>
</div>