
* {box-sizing: border-box;}
.wrapper {
  max-width: 69%;
  margin: 0 auto;
}

// When mouse enter into this div, there is some difference to remind customers
.wrapper:hover{
  border-bottom: #121212;
  font-style: italic;
}

.wrapper > div {
  border: 0.9px solid #121212;
  padding: 1em;
  background-color: lightyellow;
}

//use grid to layout
.wrapper {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 10px;
  grid-auto-rows: minmax(60px, auto); 
 
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
  cursor: pointer;
}
.two { 
  grid-column: 2 / 3;
  grid-row: 1;
  cursor: pointer;
}
.three {
  grid-column: 3/4;
  grid-row: 1;
  cursor: pointer;
}
.four {
  grid-column: 1/2;
  grid-row: 2;
  cursor: pointer;
}
.five {
  grid-column: 2/3;
  grid-row: 2;
  cursor: pointer;
}

.seven {
  grid-column: 5/6;
  grid-row: 1;
}

.eight {
  grid-column: 4/5;
  grid-row: 1;
}
.without_underline{
  text-decoration: none;
  color: black;
}

  .itemlist {
    //margin: 0 0 2em 0;
    position: absolute;
    left:16%;
    list-style-type: none;
    padding: 0;
    width: 23em;
    border: 1px solid #121212;
    border-radius: 2px;
  }

  .itemlist li {
    position: relative;
    text-align: left;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 28px;
    background-color: bisque;
    
  }

  .itemlist .text {
    position: relative;
    top: -3px;
    font-style: normal;
  }
  

 
