<!-- <div class="menu_space">
    <div>
        <div class="specified_menu menu_div">All Day</div>
        <div class="specified_menu menu_div">Brunch Menu</div>
        <div class="specified_menu menu_div">Bread Menu</div>
        <div class="specified_menu menu_div">Pastry&Dessert</div>
    </div>
</div>> -->


<div class="wrapper">
    <div class="one" (click) = "view()">ALL DAY MENU </div>
    <div class="two" (click) = "view2()">BRUNCH MENU </div>
    <div class="three" (click) = "view3()">BREAD MENU</div>
    <div class="four" (click) = "view4()">PASTRY&DESSERT<br/> MENU</div>
    <div class="five" (click) = "view5()">GLUTEN MENU</div> 
    <div class="seven" >PASSOVER MENU </div>
    <div class="eight" >EASTER MENU</div>
</div>
<div class="menusDetail" *ngIf = "clickb">
        <ul class="itemlist">
            <li>OATMEAL RASIN COOKIE</li>
            <li>MILK</li>
            <li >CUPCAKE</li>
            <li >SHAKASHUKA</li>
            <li>SANDWICH</li>
            <li>Burger</li>
          </ul>
</div>
<div class="menusDetail" *ngIf = "clickc">
        <ul class="itemlist">
            <li>OATMEAL RASIN COOKIE</li>
            <li>MILK</li>
          </ul>
</div>
<div class="menusDetail" *ngIf = "clickd">
        <ul class="itemlist">
            <li >CUPCAKE</li>
            <li >SHAKASHUKA</li>
          </ul>
</div>
<div class="menusDetail" *ngIf = "clicke">
        <ul class="itemlist">
            <li>CUPCAKE</li>
            <li>CROISSANT</li>
          </ul>
</div>
<div class="menusDetail" *ngIf = "clickf">
        <ul class="itemlist">
            <li>BURGER</li>
          </ul>
</div>
    <!-- <div class="menusDetail" *ngIf = "clicka" >
        <div>Name</div>
        <div>Price</div>
    </div>
    <div *ngIf = "clickb"></div> -->
