
* {box-sizing: border-box;}
.wrapper {
  max-width: 69%;
  margin: 0 auto;
}

.wrapper > div {
  border: 0.9px solid #121212;
//   border-radius: 5px;
//   background-color: rgba(233,171,88,.5);
  padding: 1em;
//   color: #d9480f;
}.wrapper {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 10px;
  grid-auto-rows: minmax(60px, auto);
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two { 
  grid-column: 2 / 3;
  grid-row: 1;
}
.three {
  grid-column: 3/4;
  grid-row: 1;
}
.four {
  grid-column: 1/2;
  grid-row: 2;
}
.five {
  grid-column: 2/3;
  grid-row: 2;
}
.six {
  grid-column: 3/4;
  grid-row: 2;
}
.seven {
  grid-column: 5/6;
  grid-row: 1;
}

.eight {
  grid-column: 4/5;
  grid-row: 1;
}
.without_underline{
  text-decoration: none;
  color: black;
}
a:hover{color: rgba(220,220,220,0.8);}

// .list{
//   position: absolute;
//   left: 130px;
//   margin-top: 20px;

// }
// .list label{
//   margin-top: 20px;
//   text-align: left;
//   font-size: 18px;
//   margin-left:10px;

// }

// .selected {
//     background-color: rgb(201, 160, 160) !important;
//     color: white;
//   }

  .itemlist {
    //margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    margin-left:500px;
    background-color:rgb(243,241,241);
    border-radius: 2px;
  }

  .itemlist li {
    cursor: pointer;
    position: relative;
    text-align: left;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 28px;
    
  }

  // .itemlist li.selected:hover {
  //   background-color: rgb(201, 160, 160)!important;
  //   color: white;
  //   padding: 5px;
  // }
  // .itemlist li:hover {
  //   color: #b97f7f;
  //   border-bottom:2px #000 solid;
  //   left: .1em;
  // }
  .itemlist .text {
    position: relative;
    top: -3px;
    font-style: normal;
  }
  .itemlist .badge {
    display: inline-block;
    font-size: small;
    color: white;
    // padding: 0.8em 0.7em 0 0.7em;
    background-color: #541111;
    line-height: 1em;
    //position: relative;
    //left: -1px;
    //top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 2px 0 0 2px;
  }

  h2{
    font-size:15px
  }

  // .itemDetail{
  //   font-size:15px;
  //   line-height:20px;
  //   text-align: left;
  //   margin-left: 100px
  // }

  // .menusDetail{
  //   margin-left:50px;
  // }