input[type="submit"] {
  border: 1px solid #121212;
  border-radius: 1px;
  font-size: larger;
  height: 30px;
  width: 150px;
}
input[type='checkbox']{
  font-size: 20px;
  height: 20px;
}
p{
  font-size: 20px;
  height: 20px;
  margin-left: 5px;
}


body{
  text-align: left;
  margin-left: 16%;
  margin-top: 30px;
}
body h3{
  font-size: 30px;
}
