<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<h3>
  Choose the order you are going to pay:
</h3>
<form>
  <p>Order1<input type="checkbox" name="order" value="order1"/></p>
  <p>Order1<input type="checkbox" name="order" value="order2"/></p>
  <p>Order1<input type="checkbox" name="order" value="order3"/></p>
  <p>Order1<input type="checkbox" name="order" value="order4"/></p>
  <input type="submit" value="Check Out"/>
</form>
</body>
</html>
