@import "./../../scss/mixin";
@import "./../../scss/variable";

body{
  text-align: left;
  margin-left: 16%;
  margin-top: 30px;
}

p{
  font-size:20px;
  font-style: $font-style;
}

// when mouse go to the click, color will change
a{
  @include style-a;
  @include style-a-hover;
}
a:hover{color: rgba(220,220,220,0.8);}

.userProfile{
  line-height: 30px;
}

#profile_pic1{
  background-image: url("profile_pic1.png");
  @include style-for-pic-profile;
  }

  #profile_pic2{
  background-image: url("profile_pic2.png");
  @include style-for-pic-profile;
}

