<div>
  <div class="text">
    <p>Please Sign Up</p>
  </div>
  <div class="input_box">
    <form action="/">
      <div class="element">
        <div class="title_name">Username:</div>
        <input id="username" type="text" name="Username"><br>
      </div>
      <div class="element">
        <div class="title_name">Password:</div>
        <input id="password" type="text" name="Password"><br>
      </div>
      <div class="element">
        <div class="title_name">Phone Number:</div>
        <input id="phone" type="text" name="PhoneNumber"><br>
      </div>
      <div class="element">
        <div class="title_name">Email:</div>
        <input id="email" type="text" name="Email"><br>
      </div>
      <div class="element">
        <button calss="buttonFormat" (click)="signUp()">Sign Up</button>
      </div>
    </form>
  </div>
</div>