p{
    text-align: left;
    // margin-left: 30%;
}

.text{
    margin-left: 40%;
    font-size: 150%;
    font-weight: 150;
    margin-top: 40px;
}

.input_box{
    margin-top: 50px;
    margin-left: 40%;
    text-align: left;
}

.element{
    margin-top: 20px;
    margin-bottom: 20px;
}

.title_name{
    width:103px;
    float: left;
    // background-color: aquamarine;
}

.title-input{
    width:250px;
    float: left;
}

.button_format{
    border:solid 0.5px grey;
    // border-radius: 3px;
}


