<div>
  <div class="text">
    <p>PLEASE SIGN UP</p>
  </div>
  <div class="input_box">
    <!-- login and return homepage -->
    <form action="/">
      
      <!-- username -->
      <div class="element">
        <div class="title_name">USERNAME:</div>
        <input id="username" type="text" name="Username"><br>
      </div>

      <!-- password -->
      <div class="element">
        <div class="title_name">PASSWORD:</div>
        <input id="password" type="text" name="Password"><br>
      </div>

      <!-- phone number -->
      <div class="element">
        <div class="title_name">PHONE NUMBER:</div>
        <input id="phone" type="text" name="PhoneNumber"><br>
      </div>

      <!-- email -->
      <div class="element">
        <div class="title_name">EMAIL:</div>
        <input id="email" type="text" name="Email"><br>
      </div>

      <!-- submit button -->
      <div class="element">
        <button class="buttonFormat" (click)="signUp()">SIGN UP</button>
      </div>

    </form>
  </div>
</div>