@import "./../../scss/mixin";
@import "./../../scss/variable";

p{
    text-align: $text-align;
    font-size:25px;
}

.text{
    margin-left: 42%;
    font-size: 150%;
    font-weight: 200;
    margin-top: 50px;
}

.input_box{
    margin-top: 45px;
    margin-left: 36%;
    text-align: $text-align;
}

.element{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height:30px
}

.title_name{
    width:200px;
    float: $div-position-left;
    font-size:18px
}

.title-input{
    width:250px;
    float: $div-position-left;
}

.buttonFormat{
    border:solid 0.5px grey;
    border-radius: 5px;
    width:100px;
    height:30px;
    margin-top:30px;
    margin-left:120px;
    font-size:15px;
    color:$div-text-color;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: $color-button;
}

input{
    border:solid 0.5px grey;
    width:200px;
    height:20px;
    margin-left:10px
}

