@import "./../../scss/mixin";
@import "./../../scss/variable";

%style_img{
  position: absolute;
  right: 90px;
  width: 300px;
  height: 480px;
  margin-top:100px;
  margin-right:150px;
}

.back{
  cursor: $cursor;
  margin-top:20px;
  float:$div-position-left;
  margin-left:220px;
  font-style:$font-style;
  font-size:20px;
}

.welcome {
  grid-row: 1;
  @include style-for-grid;
  }
  
  .welcome p{
    font-size:15px;
    margin-left:220px;
    margin-top: 80px;
    margin-right:0;
    line-height: 40px;
    width:450px;
    padding-bottom:150px;
    border-bottom: solid 1px #121212;
  }

  .address{
    grid-row: 2;
    @include style-for-grid;
  }

  .address p{
    font-size:12px;
    margin-left:220px;
    line-height:20px;
  }

  .time{
    grid-row: 3;
    @include style-for-grid;
  }

  .time p{
    font-size:12px;
    margin-left:220px;
    line-height:20px;
  }

  .contactInformation{
    @include style-for-grid;
    grid-row: 4;
  }

  .contactInformation p{
    font-size:12px;
    margin-left:220px;
    line-height:30px;
    font-style: $font-style;
  }

  #store_pic1{
    background-image: url("bakery_large.png");
    @include style-for-pic;
}

#store_pic2{
  background-image: url("location.png");
  @include style-for-pic;
}

#store_pic3{
  background-image: url("location2.png");
  @include style-for-pic;
}
