<div (click) = "goBack()" class = "back">
    &lt; Back to locations
</div>

<div id = "store_pic1" [@imgMove]="isShown1 ? 'prev':'on'"></div>
<div id = "store_pic2" [@imgMove]="isShown2 ? 'next':'on'"></div>
<div id = "store_pic3" [@imgMove]="isShown3 ? 'last':'on'"></div>

<div class = "welcome">
    <p>
    MaxHomeMade Allston<br>

    Welcome to our store in Allston community!<br>

    Come grab a coffee at our beautiful coffee bar or join us for a delicious<br> breakfast, lunch, or brunch.<br>

    We look forward to seeing you!</p>
</div>

<div class = "address">
    <p>
    MaxHomeMade Cafe & Bakery<br>
                
    150 Harvard Ave<br>
                
    Allston, MA 02134<br></p>
</div>

<div class = "time">
    <p>
    Open 7 days a week<br>
    Monday-Friday: 7am-8pm<br>
    Saturday: 8am-8pm<br>
    Sunday: 8am-7pm<br>
    </p>       
</div>

<div class = "contactInformation">
    <p>
    Telephone: +1(123)-456-7890<br>
    Email: contact@maxhomemade.com
    </p>       
</div>


