.back{
  cursor: pointer;
  margin-top:20px;
  float:left;
  margin-left:220px;
  font-style:italic;
  font-size:20px;
}

.welcome {
    grid-column: 1 / 2;
    grid-row: 1;
    text-decoration: none;
    color:black;
    text-align:left;
  z-index: 5;
  }
  
  .welcome p{
    font-size:15px;
    margin-left:220px;
    margin-top: 80px;
    margin-right:0;
    line-height: 40px;
    width:450px;
    padding-bottom:150px;
    border-bottom: solid 1px #121212;
  }

  .address{
    grid-column: 1 / 2;
    grid-row: 2;
    text-decoration: none;
    color:black;
    text-align:left
  }

  .address p{
    font-size:12px;
    margin-left:220px;
    line-height:20px;
  }

  .time{
    grid-column: 1 / 2;
    grid-row: 3;
    text-decoration: none;
    color:black;
    text-align:left
  }

  .time p{
    font-size:12px;
    margin-left:220px;
    line-height:20px;
  }

  .contactInformation{
    grid-column: 1 / 2;
    grid-row: 4;
    text-decoration: none;
    color:black;
    text-align:left
  }

  .contactInformation p{
    font-size:12px;
    margin-left:220px;
    line-height:30px;
    font-style: italic
  }

  #store_pic1{
    background-image: url("bakery_large.png");
    position: absolute;
    right: 90px;
    width: 300px;
    height: 480px;
    margin-top:100px;

    margin-right:150px;
}
#store_pic2{
  background-image: url("location.png");
  position: absolute;
  right: 90px;
  width: 300px;
  height: 480px;
  margin-top:100px;
  margin-right:150px;
}
#store_pic3{
  background-image: url("location2.png");
  position: absolute;
  right: 90px;
  width: 300px;
  height: 480px;
  margin-top:100px;
  margin-right:150px;
}
