#main_pic{
  position: absolute;
  left: 17%;
  top: 250px;
  background-image: url("main_pic1.jpg");
  z-index: 1;
  width: 900px;
  height: 600px;


}
#main_pic_2{
  background-image: url("main_pic1.jpg");
  z-index: 0;
  width: 900px;
  height: 600px;
  position: absolute;
  left: 17%;
  top: 250px;
}
#main_pic_3{
  position: absolute;
  left: 17%;
  top: 250px;
  background-image: url("main_pic1.jpg");
  z-index: 3;
  width: 900px;
  height: 600px;
}
