<!--Display all items from database-->
<div class="list">
  <label>MENU</label>
  <ul class="itemlist">
    <li *ngFor="let item of itemList" [class.selected]="item === selectedItem" (click)="onSelect(item)">
      <span class="badge"></span> {{item.ItemName}}
    </li>
  </ul>
</div>

<!--Display the details when clicking the specific item-->
<div class="pic_detail">
  <div class={{selectedItem.ItemName}}></div>
  <div *ngIf="selectedItem" class="itemDetail">
    <h2>{{selectedItem.ItemName | uppercase}} DETAILS</h2>
    <div><span>ItemName: </span>{{selectedItem.ItemName}}</div>
    <div><span>Price: $</span>{{selectedItem.Price}}</div>
    <div><span>Ingredient: </span>{{selectedItem.Ingredient}}</div>
    <button (click)="saveInLocal(selectedItem.ItemName,selectedItem.Price,selectedItem)">ADD TO CART ></button>
  </div>
</div>

<!--Get the added items from database and display these items -->
<div class="cart">
  <div class="cart_title">CART:</div>
  <ul>
    <li *ngFor="let addeditem of cart">{{addeditem.ItemName}} <br/> 
      Price: ${{addeditem.Price}}</li>
  </ul>
</div>


