
<!-- {{itemList}} -->
<div class="list">
  <label>ALL DAY MENU</label>
<ul class="itemlist">
  <li *ngFor="let item of itemList"
    [class.selected]="item === selectedItem"
    (click)="onSelect(item)">
    <span class="badge"></span> {{item.ItemName}} 
  </li>
</ul>

<div *ngIf="selectedItem" class = "itemDetail">
  <h2>{{selectedItem.ItemName | uppercase}} DETAILS</h2>
  <div><span>ItemName: </span>{{selectedItem.ItemName}}</div>
  <div><span>Price: </span>{{selectedItem.Price}}</div>
  <div><span>Ingredient: </span>{{selectedItem.Ingredient}}</div>
  
</div>
</div>
