.list{
  position: absolute;
  left: 200px;
  margin-top: 20px;

}
.list label{
  margin-top: 20px;
  text-align: left;
  font-size: 18px;
  margin-left:10px;

}

.selected {
    background-color: rgb(201, 160, 160) !important;
    color: white;
  }

  .itemlist {
    //margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    margin-left:100px;
    background-color:rgb(243,241,241);
    border-radius: 2px;
  }

  .itemlist li {
    cursor: pointer;
    position: relative;
    text-align: left;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 28px;
    
  }

  .itemlist li.selected:hover {
    background-color: rgb(201, 160, 160)!important;
    color: white;
    padding: 5px;
  }
  .itemlist li:hover {
    color: #b97f7f;
    // border-bottom:2px #000 solid;
    // left: .1em;
  }
  .itemlist .text {
    position: relative;
    top: -3px;
  }
  .itemlist .badge {
    display: inline-block;
    font-size: small;
    color: white;
    // padding: 0.8em 0.7em 0 0.7em;
    background-color: #541111;
    line-height: 1em;
    //position: relative;
    //left: -1px;
    //top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 2px 0 0 2px;
  }

  h2{
    font-size:15px
  }

  .itemDetail{
    font-size:15px;
    line-height:20px;
    text-align: left;
    margin-left: 20px
  }

  .itemDetail button{
    border:solid 0.5px grey;
    border-radius: 5px;
    widows: 120px;
    height:23px;
    margin-top:5px;
    margin-left:45px;
    font-size:12px;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke
  }
 
  .pic_detail{
    margin-right: 200px;
    margin-top: 80px;
    float: right;
    width: 500px;
    height: 800px;
  }

  .COOKIE{
    background-image: url("oatmeal.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .MILK{
    background-image: url("milk.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .CUPCAKE{
    background-image: url("cupcake.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .SHAKASHUKA{
    background-image: url("shakashuka.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .SANDWICH{
    background-image: url("sandwich.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .BURGER{
    background-image: url("burger.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .TART{
    background-image: url("tart.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .YOGURT{
    background-image: url("yogurt.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .CHEESECAKE{
    background-image: url("cheesecake.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .PIE{
    background-image: url("pie.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .MACARONS{
    background-image: url("macarom.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .SALAD{
    background-image: url("salad.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }

  .TIRAMISU{
    background-image: url("tiramisu.png");
    width: 300px;
    height: 300px;
    background-repeat:no-repeat;
    background-size:cover;
  }
