.title{
  width:50%;
  font-size:18px; 
  margin-left:300px
}

* {box-sizing: border-box;}
.wrapper {
  max-width: 69%;
  margin: 0 auto;
}

.wrapper > div {
  border: 0.9px solid #121212;
//   border-radius: 5px;
//   background-color: rgba(233,171,88,.5);
  padding: 1em;
//   color: #d9480f;
}.wrapper {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 300px;
  grid-auto-rows: minmax(60px, auto);
}

.giftOfBakery {
  grid-column: 1 / 2;
  grid-row: 1;
  text-decoration: none;
  color:black;
}

p{
  margin-top:20px;
  font-size:15px;
  font-style:italic
}

.giftOfBakery2 {
  grid-column: 1 / 2;
  grid-row: 1;
  text-decoration: none;
  color:black
}

.bakerygift{
  margin-left:100px;
  margin-top:30px;
  width:300px;
  height:100px;
}

.bakerygift2{
  width:300px;
  height:100px;
  margin-top:30px;
}

.back{
  cursor: pointer;
  margin-top:20px;
  float:left;
  margin-left:220px;
  font-style:italic;
  font-size:20px;
}
