<p class="title">
  Welcome to our gifts page!
</p>

  <!-- <div class="one">
      <a class="without_underline" routerLink="/shop/giftitems">Gift Card</a>

  </div> -->
  <div class="wrapper">
  <div class="bakerygift">
      <a class="giftOfBakery" routerLink="/shop/giftitems">Gift Card</a>
      <p>You could use gift card in any of our stores</p>
  </div>
  <div class="bakerygift2">
    <a class="giftOfBakery2" routerLink="/shop/surprise">Surprise</a>
    <p>You could use gift card in any of our stores</p>
</div>
  </div>
  

