@import "./../../scss/mixin";
@import "./../../scss/variable";

.back{
    cursor: $cursor;
    margin-top:20px;
    float:$div-position-left;
    margin-left:220px;
    font-style:$font-style;
    font-size:20px;
  }

 .comingSoon{
  grid-row: 1;
  @include style-for-grid;
 }
 
 p{
    font-size:18px;
    margin-left:220px;
    margin-top: 80px;
    margin-right:0px;
    line-height: 40px;
    width:450px;
  }
  
  #store_pic2{
    background-image: url("store_pic2.jpg");
    width: 400px;
    height: 600px;
    float:$div-position-right;
    margin-top:-150px;
    margin-right:220px;
}

