<div>
  <div class="text">
    <p>Please Sign In</p>
  </div>
  <div class="input_box">
    <form action="/">
      <div class="element"> 
        Username:&nbsp;&nbsp;&nbsp;<input id="username" type="text" name="FirstName"><br>
      </div>
      <div class="element">
        Password:&nbsp;&nbsp;&nbsp;&nbsp;<input id="password" type="text" name="LastName"><br>
      </div>  
      <div class="element">
        <input type="submit" value="Submit" (click)="signIn()">
      </div>
      
    </form>
  </div>
</div>