p{
    text-align: left;
    // margin-left: 30%;
}

.text{
    margin-left: 40%;
    font-size: 150%;
    font-weight: 150;
}

.input_box{
    margin-left: 40%;
    text-align: left;
}

.element{
    margin-top: 20px;
    margin-bottom: 20px;
}


