<div>
  <div class="text">
    <p>PLEASE SIGN IN</p>
  </div>
  <div class="input_box">
    <!-- <form action="/"> -->
      <div class="element"> 
        USERNAME:&nbsp;&nbsp;&nbsp;<input id="username" type="text" name="FirstName"><br>
      </div>
      <div class="element">
        PASSWORD:&nbsp;&nbsp;&nbsp;<input id="password" type="password" name="LastName"><br>
      </div>  
      <div class="element">
        <button class="buttonFormat" (click)="signIn()">SIGN IN</button>
      </div>      
    <!-- </form> -->
  </div>
  <div class="sign_up">
    HAS NO ACCOUNT? <a routerLink="/signup">SIGN UP HERE</a>
  </div>
</div>
