@import "./../../scss/mixin";
@import "./../../scss/variable";

.g-news{
  text-align: center;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;

  //padding:10px;
  margin-left: 15%;
  margin-right: 15%;
}

.g-news div{
  border: solid 1px #121212;
  border-radius: 2px;
  margin: 5px;
}


#news1{
  @include news_pic(url("news1.png"))
}

#news2{
  @include news_pic(url("news2.png"))
}

#news3{
  @include news_pic(url("news3.png"))
}
#news4{
  @include news_pic(url("news4.png"))
}


//.g-news p{
//padding-top: 5px;
//  font-size: smaller;
//  margin:3px ;
//  //border-top: 1px solid #121212;
//}

.gridelem{
  position: relative;
  height: 200px;
}

dt+p{
  height: 130px;
  text-align: $text-align;
  margin:2px;
  padding: 5px;
  width:200px;
  display: none;
  font-size: 15px;
}

button{
  width:100%;
  padding-top: 5px;
  font-size: smaller;
  border:1px solid transparent;
  position: $div-position;
  left: 0;
  bottom:0;
}
