<!--with ngfor to get link text to related pics-->
<!--use ngfor to print the news blocks-->
<div class="g-news">
  <div class="gridelem" *ngFor="let p of ps">
    <dt id={{p}}></dt>
    <p id="{{p}}sub" >
      {{quotes[p]}}
    </p>
    <button (click)="onclick1(p)">BAKE FROM SCRATCH</button>
  </div>

  <!--<div><dt (click)="onclick2()" class="news2"></dt>-->
    <!--<p id="news_2">-->
      <!--OVER THE COURSE OF JUST A DECADE, MAX HOMEMADE BAKERY & CAFÉ HAS GROWN FROM A HOME KITCHEN OPERATION INTO A FAVORITE PURVEYOR OF PÂTISSERIE IN BOSTON-->
    <!--</p>-->
    <!--<p>THE THIRTY-ONE PERCENT</p>-->
  <!--</div>-->
    <!--<div>-->
      <!--<dt class="news3"></dt>-->
      <!--<p id="news_3">-->
        <!--OVER THE COURSE OF JUST A DECADE, MAX HOMEMADE BAKERY & CAFÉ HAS GROWN FROM A HOME KITCHEN OPERATION INTO A FAVORITE PURVEYOR OF PÂTISSERIE IN BOSTON-->
      <!--</p>-->
      <!--<p>THE BOSTON GLOBAL</p>-->
    <!--</div>-->
      <!--<div>-->
        <!--<dt class="news4"></dt>-->
        <!--<p id="news_4">-->
          <!--OVER THE COURSE OF JUST A DECADE, MAX HOMEMADE BAKERY & CAFÉ HAS GROWN FROM A HOME KITCHEN OPERATION INTO A FAVORITE PURVEYOR OF PÂTISSERIE IN BOSTON-->
        <!--</p>-->
        <!--<p>WIILIAMS-SONOMA TASTE</p>-->
      <!--</div>-->
</div>
