<div class="div-body">
  <div class="left">
    <!--divs for messages about career-->
      <div class="format">
        <div class="title"> WANT TO JOIN US?</div> 
        <div class="text">We are looking for hard working, passionate and positive people to be a part of our growing family!</div>
      </div>
      <div class="format">
        <div class="title">OUR MISSION</div>
        <div class="text">To inspire and touch every person, neighborhood and city with our exceptional experience through our food, our passion and our culture.</div>
      </div>
      <div class="format">
        <div class="title">A PLACE FOR EVERYONE</div>
        <div class="text">At Tatte, we are a team from diverse backgrounds. We invite anyone who is passionate, genuine, ambitious and wants to serve delicious food and drinks to apply. We want people who appreciate and respect what we do and are truly excited to take part in our story.</div>
      </div>
      <div class="format">
        <div class="title">OUR COMMITMENT</div>
        <div class="text">We embrace an environment of learning and development. At Tatte, any career path is possible and we believe if you are committed to hard work, feedback and eager to learn we want to guide and help you get to wherever you see your career growing.</div>
      </div>
      <div class="format">
        <div class="title">OUR BENEFITS</div>
        <div class="text">We offer our team competitive pay, flexible schedule, health and dental insurance, paid vacation time, 401K , internal English and cooking classes, generous meal and drinks discounts, exciting potential for growth and a fun work environment.</div>
      </div>
      <div class="format">
        <div class="text">Come and be part of our exciting growth! Apply today!<br/>Please send your resume with a document to introduce your experience to <u><b>career@maxhomemade.com</b></u><br>
        </div>
      </div>
      <!--div to list out the opening positions-->
      <div class = "positions">
      <p>CURRENT OPENINGS:</p>
      <ul>
        <li>Lobby Manager</li>
        <li>Operational Manager</li>
        <li>Chef</li>
        <li>Bread Bakers</li>
        <li>Delivery</li>
      </ul>
    </div>

  </div>
  <div class="right">
    <div class="pic"></div>
  </div>
</div>
