.div-body{
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
    // background-color: bisque;
}

.left{
    float: left;
    width:55%;
    // background-color: bisque;
    margin-left: 2%;
    margin-top:20px;
}

.right{
    float:right;
    width:38%;
    // background-color: bisque;
    margin-right: 2%;
    margin-top:20px;
}

.pic{
    background-image: url("Career.jpg");
    width:420px;
    height: 600px;
}

.format{
    margin-top: 10px;
    margin-bottom: 18px;
}

.title{
    font-size: 16px;
    font-weight:bold;
}

.text{
    font-size: 15px;
}

li{
    margin-bottom:5px;
    list-style-type: circle
}