@import "./../../scss/mixin";
@import "./../../scss/variable";


//show left picture
#surprise{
    background-image: url("giftcombo.jpg");
    width: 150px;
    height: 100px;
    margin-top:80px;
    margin-left:30px;
    float:$div-position-left
}
#content{
    width:300px;
    font-size:25px;
    color:$div-text-color;
    margin-top:90px;
    float:$div-position-right;
    font-style: $font-style;
    margin-right:400px;
}

//show right picture
#surprise_pic1{
    background-image: url("macarons.jpg");
    width: 785px;
    height: 400px;
    margin-top:50px;
    float:$div-position-right;
    margin-right:320px;
}

.back{
  cursor: $cursor;
  margin-top:20px;
  float:$div-position-left;
  margin-left:220px;
  font-style:$font-style;
  font-size:20px;
}

a:link{
    @include style-a
  }

  a:visited{
    @include style-a
  }
  a:hover{
    @include style-a-hover
  }
