#surprise{
    background-image: url("giftcombo.jpg");
    width: 150px;
    height: 100px;
    margin-top:10px;
    margin-left:250px;
    float:left
}
#content{
    width:100%;
    float:right;
    font-size:30px;
    color: darkorange;
    font-style: oblique;
    margin-top:100px;
}
