#surprise{
    background-image: url("giftcombo.jpg");
    width: 150px;
    height: 100px;
    margin-top:10px;
    margin-left:350px;
    float:left
}
#content{
    width:300px;
    font-size:25px;
    color:black;
    margin-top:30px;
    float:right;
    font-style: italic;
    margin-right:400px;
}

#surprise_pic1{
    background-image: url("macarons.jpg");
    width: 785px;
    height: 400px;
    margin-top:50px;
    float:right;
    margin-right:320px;
}
