@import "./../../scss/mixin";
@import "./../../scss/variable";

h1{
float:$div-position-left;
margin-left:200px;
font-size:20px;
color:$div-text-color;
}

.checkOut{
float:$div-position-left;
margin-left:-260px;
margin-top:40px;
}

.title_name{
display:inline-block;
@include display-title-input
}

.contactInformation{
   @include display-payment-div
}

.payment{
    @include display-payment-div
 }

 .promotion{
    @include display-payment-div
 }

 input{
     width:200px;
     height:20px;
     border:0px;
     border-bottom: solid 1px $div-text-color;
 }

 .title_name_tip{
    @include display-title-input
 }

 .title_name_promo{
    @include display-title-input
 }

 .agreement{
    @include display-payment-div
 }
//the button' style is different from page to page so it is hard to use mixin
 #checkOutButton{
    border:solid 0.5px grey;
    border-radius: 5px;
    width:150px;
    height:30px;
    margin-top:5px;
    margin-left:120px;
    font-size:15px;
    color:$div-text-color;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: $color-button
 }

 .orderDetail{
    float:$div-position-right;
    margin-right:-480px;
    margin-top:-500px;
    border:1px solid $div-text-color;
    height:500px;
    width:350px;
    font-size: 18px;
 }

 .idOfOrder{
   margin-left:-53px;
   margin-top:30px;
   @include display-order
 }

 .UserOrder{
   margin-left:20px;
   margin-top:20px;
   @include display-order
 }

 .orderItem{
   margin-top:-30px;
   margin-left:-10px;
   padding:0px;
 }

 .itemList{
   margin-left:20px;
   margin-top:10px;
   padding:0px;
 }

 .checkOrder{
   margin-left:10px;
   margin-top:50px;
   padding:0px;
 }
 
 .itemInOrder{
   margin-top:90px;
   margin-left:-80px;
   @include display-order
 }

 .userOfOrder{
   margin-top:13px;
   //  margin-left:-100px
 }

.IdNum{
  margin-top:85px;
  right:20%;
  position:$div-position;
  top: 36%;

 }

 .remove{
    font-size:12px;
    float:$div-position-right;
    margin-right:-100px;
    margin-top:-20px;
    border:1px solid $div-text-color;
    width:10px;
 }

 .priceOfOrder{
    margin-top:20px;
    margin-left:10px;
 }

 .totalPrice{
   float:$div-position-right;
   margin-top:0px;
  

 }
