@mixin display-payment-div{
    margin-top:5px;
    text-align: left;
    margin-left:145px;
    margin-bottom: 5px
}

@mixin display-title-input{
    text-align: left;
    margin-left:145px;
    margin-top:5px;
    width:200px;
    line-height: 20px;
    margin-bottom: 15px;
}

@mixin display-order{
   font-size: 14px;
   float:left;
}

h1{
float:left;
margin-left:200px;
font-size:20px;
color:black
}

.checkOut{
float:left;
margin-left:-260px;
margin-top:40px;
}

.title_name{
display:inline-block;
@include display-title-input
}

.contactInformation{
   @include display-payment-div
}

.payment{
    @include display-payment-div
 }

 .promotion{
    @include display-payment-div
 }

 input{
     width:200px;
     height:20px;
     border:0px;
     border-bottom: solid 1px black;
 }

 .title_name_tip{
    @include display-title-input
 }

 .title_name_promo{
    @include display-title-input
 }

 .agreement{
    @include display-payment-div
 }

 #checkOutButton{
    border:solid 0.5px grey;
    border-radius: 5px;
    width:150px;
    height:30px;
    margin-top:5px;
    margin-left:120px;
    font-size:15px;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: whitesmoke
 }

 .orderDetail{
    float:right;
    margin-right:-480px;
    margin-top:-500px;
    border:1px solid black;
    height:500px;
    width:350px;
    font-size: 18px;
 }

 .idOfOrder{
   margin-left:-80px;
   margin-top:20px;
   @include display-order
 }

 .userOfOrder{
   margin-left:10px;
   margin-top:80px;
   @include display-order
 }

 .orderItem{
   margin-top:140px;
   margin-left:-80px;
   @include display-order
 }
 