<h1>
  CHECKOUT
</h1>

<div class="checkOut">
    <div class="contactInformation">CONTACT INFORMATION</div>
    <div class="title_name">FIRST NAME:
      <input id="firstName" type="text" name="firstName"></div>
    <div class="title_name">LAST NAME:
      <input id="lastName" type="text" name="lastName"></div><br>
    <div class="title_name">EMAIL:
      <input id="email" type="email" name="email"></div>
    <div class="title_name">PHONE NUMBER:
      <input id="phoneNumber" type="text" name="phoneNumber" onkeyup="this.value=this.value.replace(/\D/g,'')"
        onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="10"></div>

    <div class="payment">PAYMENT</div>
    <div class="title_name">CARD NUMBER:
      <input id="cardNumber" type="text" name="cardNumber" onkeyup="this.value=this.value.replace(/\D/g,'')"
        onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="16"></div>
    <div class="title_name">EXPIRE DATE:
      <input id="expiration" type="month" name="expiration"></div><br>
    <div class="title_name">CVV:
      <input id="cvv" type="text" name="cvv" onkeyup="this.value=this.value.replace(/\D/g,'')"
        onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="4"></div>
    <div class="title_name">ZIP:
      <input id="zipCode" type="numbertext" name="zipCode" onkeyup="this.value=this.value.replace(/\D/g,'')"
        onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength="5"></div><br>
    <div class="title_name_tip">ADD TIP:
      <input id="tip" type="number" name="tip"></div>

    <div class="promotion"> PROMO CODE</div>
    <div class="title_name_promo">PROMO CODE:
      <input id="promoCode" type="text" name="promoCode"></div>
<div class = "placeOrder">
  <div class = "agreement">By placing an order you agree to our Terms of Service and Privacy Policy</div>
  <button id = "checkOutButton" type="button" (click) = "checkOut()">PLACE ORDER</button>
</div>

<div class = "orderDetail">YOUR ORDER<br>
  <label id = "UserOrder" class = "UserOrder">CLIENT:</label>
  <div id = "orderUser" class = "userOfOrder"></div>
  <div id = "orderID" class = "idOfOrder">ORDER ID:</div>
  <label id="IdNum" class="IdNum"></label>
  <div class = "itemInOrder">
  <div id="itemOfOrder" class ="orderItem">ITEMS:
    <div id="items" class = "itemList"></div>
    <div id="remove" class = "remove" (click) = "removeItem()">X</div>
  </div>
  <div id="priceOfOrder" class="priceOfOrder">TOTAL PRICE:
  <div id="totalPrice" class="totalPrice"></div>
  </div>
</div>