@import "./../../scss/mixin";
@import "./../../scss/variable";

#card1{
    background-image: url("card1.jpg");
    @include style_img;
    float: $div-position-left;
    margin-left:-100px;
}
#card2{
    background-image: url("card2.jpg");
    @include style_img;
    float: $div-position-right;
    margin-right:170px
}
.back{
  cursor: pointer;
  margin-top:20px;
  float:$div-position-left;
  margin-left:220px;
  font-style:$font-style;
  font-size:20px;
}
a:link{
  @include style-a;
}

a:visited{
  @include style-a;
}
a:hover{
  @include style-a;
}

