#card1{
    background-image: url("card1.jpg");
    width: 575px;
    height: 375px;
    margin-top:50px;
    margin-left:200px;
    float:left
}
#card2{
    background-image: url("card2.jpg");
    width: 450px;
    height: 300px;
    margin-top:50px;
    margin-left:20px;
    float:right;
    margin-right:150px
}
// #card1_details{
//     margin-left:350px;
//     float:left
// }