#card1{
    background-image: url("card1.png");
    width: 400px;
    height: 270px;
    margin-top:10px;
    margin-left:200px;
    float:left
}
#card2{
    background-image: url("card2.jpg");
    width: 450px;
    height: 450px;
    margin-top:10px;
    margin-left:20px;
    float:right;
    margin-right:150px
}
// #card1_details{
//     margin-left:350px;
//     float:left
// }