<div (click) = "goBack()" class = "back">
    &lt; Back to profile
</div>

<!--bind the data to html-->
<div class = "profile" id="profile">
  <p>USER INFORMATION</p>
  <div id="userInfo">
    <input #usernn type="text" [value]="userN" (blur)="USERNAME=usernn.value"/>
    <input #userpp type="text" [value]="userP" (blur)="PHO=userpp.value"/>
    <input #userem type="text" [value]="userE" (blur)="EML=userem.value"/>
  </div>
</div>
<!--bind data with ts-->
<div class ="setchange" id="setchange">
  <p id="changename">{{USERNAME}}</p>
  <p id="changepho">{{PHO}}</p>
  <p id="changeeml">{{EML}}</p>
</div>
<button (click)="editInformation()">EDIT YOUR PROFILE</button>
