@import "./../../scss/mixin";
@import "./../../scss/variable";
.back{
    cursor: $cursor;
    margin-top:20px;
    float:$div-position-left;
    margin-left:220px;
    font-style:$font-style;
    font-size:20px;
  }

  .profile{
      margin-top:80px;
  }

  input{
      margin-left:10px;
      width:200px;
      height:20px;
      font-size:15px;
  }

  .setchange{
    font-size:15px;
  }

  //button format
  button{
        border:solid 0.5px grey;
        border-radius: 5px;
        width:180px;
        height:30px;
        margin-top:5px;
        margin-left:0px;
        font-size:15px;
        color:$div-text-color;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: $color-button
  }

  .profile p{
      font-size:18px;
  }
