@import "./../../scss/mixin";
@import "./../../scss/variable";


* {box-sizing: border-box;}
.wrapper {
  max-width: 69%;
  margin: 0 auto;
}

.wrapper > div {
  border: 0.9px solid #121212;
//   border-radius: 5px;
//   background-color: rgba(233,171,88,.5);
  padding: 1em;
//   color: #d9480f;
}.wrapper {
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-gap: 10px;
  grid-auto-rows: minmax(60px, auto);
}

.locOfBakery {
  @include style-for-location;
}

p{
  font-size:13px;
  font-style:$font-style;
}

h1{
  font-size:20px;
  margin-top:70px;
  letter-spacing: 10px;
}

.bakeryloc{
  margin-left:150px;
  margin-top:10px;
  @include height-width-div;
}

.bakeryloc2{
  @include height-width-div;
  margin-left:300px;
  margin-top:15px;
}

.locOfBakery2 {
  @include style-for-location;
}

.bakeryloc{
  @include height-width-div;

}