@import "./../../scss/mixin";
@import "./../../scss/variable";
  .back{
    cursor: $cursor;
    margin-top:20px;
    float:$div-position-left;
    margin-left:220px;
    font-style:$font-style;
    font-size:20px;
  }

  .orderList{
    margin-top:0px;
    width:600px;
    margin-left:120px;
  }

  p{
    font-size:18px;
    margin-top:70px;
    font-style:$font-style;
    margin-left:120px;
    width:600px;
  }

  #history_pic1{
  background-image: url("history_pic1.png");
  @include style-for-pic-order;
  }

  #history_pic2{
  background-image: url("history_pic2.png");
  @include style-for-pic-order;
}

  #history_pic3{
  background-image: url("history_pic3.png");
  @include style-for-pic-order;
}

  