<div class="div-body">
  <!--divs for the store messages-->
  <div>
    <div class="one-line"><b class="title-locatioin">CONTACT US</b></div>
    <div class="body-location">MaxHomeMade's Customer Service is ready to assist you.<br> 
      Please choose from the following options for information about<br>
      your order, product information, store locations, and more.<br> 
    </div>
  </div>
  <div class="left">
    <div class="text-title"><b class="float-left">CALL US</b></div>
    <div class="text-left">
      <b>BY PHONE:</b> +1(123)-456-7890 (U.S. or Canada)<br>

      Representatives are available:<br>
      <b>MON-FRI:</b> 8.AM - 8.PM EST<br>
      <b>SAT:</b> 10.AM - 8.PM EST<br>
      <b>SUN:</b> 10.AM - 6.PM EST<br>
    </div>
  </div>
  <div class="right">
    <div class="text-title"><b class="float-left">EMAIL US</b></div>
    <div class="text-left">
      <b>BY EMAIL:</b> customer@maxhomemade.com<br>
      <b>MON-FRI:</b> 8.AM - 8.PM EST<br>
      <b>SAT:</b> 10.AM - 8.PM EST<br>
      <b>SUN:</b> 10.AM - 6.PM EST<br>
    </div>

  </div>
</div>
