<div class="div-body">
  <div>
    <div class="one-line"><b class="title-locatioin">Contact Us</b></div>
    <div class="body-location">Sephora's Customer Service is ready to assist you. Please choose from the following
      options for information about your order, product information, store locations, and more. You can also find
      answers to frequently asked questions in the online Customer Service section.
    </div>
  </div>
  <div class="left">
    <div class="text-title"><b class="float-left">CALL US</b></div>
    <div class="text-left">
      1-123-MaxHomeMade (1-123-456-7890) (U.S. or Canada)
      Hearing impaired/TTY 1-888-866-9845

      Representatives or Beauty Advisors are available:
      MON-FRI: 5am to 9pm PT
      SAT-SUN: 6am to 9pm PT
    </div>
  </div>
  <div class="right">
    <div class="text-title"><b class="float-left">CHAT WITH US</b></div>
    <div class="text-left">
      Representatives and Beauty Advisors are available:
      <b>MON-FRI:</b> 5am to 9pm PT
      <b>SAT-SUN:</b> 6am to 9pm PT
    </div>

  </div>
</div>