$div-position-left: left;
$div-position-right: right;
$div-text-color: black;
$text-align:left;
$text-decoration:none;
$font-style: italic;
$color-button:whitesmoke;
$div-position:absolute;
$cursor:pointer;
