
<!-- <!DOCTYPE html>
<html lang="en"> -->


<head>
  <meta charset="UTF-8">
  <title>Welcome to Tatte</title>
</head>


<body>
  <div class="header">
    <a href="#"> Tatte </a>
    <p>BAKERY & CAFE</p>
  </div>
  <nav class="banner">
    <label>ABOUT</label>

    <a routerLink="/location"><label>LOCATIONS</label></a>
    <a routerLink="/menus"><label>MENUS</label></a>
    <label>CAREERS</label>
    <a routerLink="/contact"><label>CONTACT</label></a>
    <label>PRESS & NEWS</label>
    <label>SHOP</label>
    <label>ORDER ONLINE</label>
  </nav>
  <!-- <div id="main_pic" [@slide_main]="isShown ? 'shown':'hidden'"></div>
  <div id="main_pic_r"></div> -->
</body>

<!-- </html> -->

