<body>
  <!--main page of the bakery website, with 8 sections, signin(log out), signup and checkout-->
  <div class="header">
    <a href="#"> MaxHomeMade </a>
    <p>BAKERY & CAFE</p>
  </div>
  <!--by click signin and signup, user can go to related pages-->
  <div class="login" id="loginController">
    <a routerLink="/signin">SIGN IN</a> /
    <a routerLink="/signup">SIGN UP</a>
  </div>
  <div class="login" id="loggedUser" (click)="viewOrder()">
  </div>
  <div id="logged"></div><br>

  <!--by click the checkout, user can go to checkout page-->
  <div class="checkOut" id="checkOutController">
    <a routerLink="/checkOut">CHECKOUT</a>
  </div>
  <div id="CurrentLogOut"class="logOut" (click)= "logout()"><a>LOG OUT</a></div>

  <!--by click the different section, user can go to related pages-->
  <nav class="banner">
    <a routerLink="/about"><label>ABOUT</label></a>
    <a routerLink="/location"><label>LOCATIONS</label></a>
    <a routerLink="/menus"><label>MENUS</label></a>
    <a routerLink="/career"><label>CAREERS</label></a>
    <a routerLink="/contact"><label>CONTACT</label></a>
    <a routerLink="/news"><label>PRESS & NEWS</label></a>
    <a routerLink="/shop"><label>SHOP</label></a>
    <a routerLink="/orders"><label>ORDER ONLINE</label></a>
  </nav>
</body>

<!-- </html> -->
