<!--div for introduction with picture-->
<div class = "aboutUs">
<h1>
  Our Story
</h1>
<p>
  MaxHomeMade is inspired by the drama - "2 Broken Girls", in which Max and her good friend Caroline are working as waitresses
  to earn money. Their goal is to run their own cupcake store. We, 4 girls from Northeastern University, with the same interest
  and the same love for desert, met with each other, based on our same passion, decided to apply our interest into real life
   - running a bakery by ourselves! Here we are - MaxHomeMade!

  Our mission is to inspire and touch every person, neighborhood and city with our experience and through
  our food, our passion, and our culture. We would like to bring MaxHomeMade to as many markets possible, to
  share that unique experience, the food, the pastries and the atmosphere that MaxHomeMade brings to every location 
  we open.
</p>
</div>

<div id = "about_pic1"></div>