@import "./../../scss/mixin";
@import "./../../scss/variable";
.aboutUs {
  float:$div-position-left;
    @include style-for-grid;
    grid-row: 1;
  }

  .aboutUs h1{
    margin-top:50px;
    font-size:20px;
    margin-left:220px;
  }
  
  .aboutUs p{
    font-size:15px;
    margin-left:220px;
    line-height:30px;
    width:400px;
  }

  #about_pic1{
    background-image: url("our-story.jpg");
    width: 520px;
    margin-top:65px;
    height: 400px;
    float:$div-position-right;
    margin-right:190px
}